$mint-green: #00C082;
$berry-purple: #7B667B;
$lollipop-blue: #32bdb6;
$lollipop-blue-hover: #30B5AF;
$smoothie-red: #CE5667;
$smokey-black: #3D3D3D;
$facebook-blue: blue;
$posiden-green: #3FA38D;
$coral: #ff7f50;
$maid-pink: #FFA8B7;

$gray-100: rgba(100, 100, 100, 0.1);
$gray-200: rgba(100, 100, 100, 0.2);
$gray-300: rgba(100, 100, 100, 0.3);
$gray-400: rgba(100, 100, 100, 0.4);
$gray-500: rgba(100, 100, 100, 0.5);
$gray-600: rgba(100, 100, 100, 0.6);
$gray-700: rgba(100, 100, 100, 0.7);
$gray-800: rgba(100, 100, 100, 0.8);
$gray-900: rgba(100, 100, 100, 0.9);
$dark-gray: #666;
$secondary-gray: #909090;