@import '_vars.scss';
@import '_base.scss';
@import '_normalize.scss';

@font-face {
  font-family: Westcraft;
  font-display: auto;
  src: url(../fonts/WestcraftSans-Soft.otf);
}


a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

// reset default browser css
body, html {
  // display: flex;
  // flex-direction: column;
  // align-content: space-between;
  // min-height: 100%;
  width: 100%;
  // box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  display: block;
  height: 100%;
}

body {
  color: $smokey-black;
  min-height: 100%;
}

button {
  cursor: pointer;
  color: $smokey-black;
  text-align: center;
}

img {
  max-width: 100%;
}

input {
  color: $smokey-black;
  padding-left: 0.3em;
  height: 2.5em;
}

::placeholder {
  color: $gray-500;
}

::-webkit-input-placeholder {
  color: $gray-500;
}

::-ms-input-placeholder {
  color: $gray-500;
}

p {
  line-height: 1.7rem;
  font-size: 110%;
}

input {
  color: $smokey-black;
  padding-left: 0.5em;
  padding-top: 0.3em;
  border: 1px solid $gray-400;
}

textarea {
  color: $smokey-black;
  padding-left: 0.5em;
  padding-top: 0.3em;
  border: 1px solid $gray-400;
  //    max-width: 90%;
  resize: vertical;
}

select {
  color: $smokey-black;
  border: 1px solid $gray-400;
  padding-left: 0.3em;
  height: 2.5em;
}



// Javascript Disabled
.javascript-disabled {
  position: fixed;
  top: 0;
  background-color: $smoothie-red;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}



// Footer Section
.footer {
  // border-top: solid 1px $gray-500;
  // background-color: $smokey-black;
  // color: #fff;
  background-color: $gray-100;
  margin-top: 9rem;
  // padding-top: 3rem;
  // padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  img {
    margin-bottom: 3rem;
    width: 100%;
  }

  a {
    color: $smokey-black;
    &:hover {
      color: $lollipop-blue;
    }
  }

  .footer-column-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 100%;


    .footer-column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      // background-color: $lollipop-blue;
      height: 15rem;

      h2 {
        font-weight: 600;
      }

      &:nth-of-type(1) {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        margin-right: 6rem;

        // background-color: $lollipop-blue;
        h2 {
          margin-bottom: 1rem;
        }

        a {
          margin-bottom: 0.5rem;
          margin-left: 0.2rem;
        }
      }

      &:nth-of-type(2) {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        margin-right: 6rem;

        // background-color: $lollipop-blue;
        h2 {
          margin-bottom: 1rem;
        }

        a {
          margin-bottom: 0.5rem;
          margin-left: 0.2rem;
        }
      }
    }
  }


  .social-media-link-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        // justify center
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        // flex direction row
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        // align items center
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        // flex wrap
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    // background-color: coral;
    padding: 1rem;

    .social-media-icon {
      margin-left: 1rem;

      &:first-of-type {
        // color: $lollipop-blue;
        margin-left: 0;
      }

      i {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        // justify center
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        // align-items center
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        text-align: center;

        font-size: 150%;
        border: solid 1px $smokey-black;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
      }
    }
  }
}

.normal-footer-padding {
  padding-bottom: 3rem;
}

.footer-with-fixed-message {
  padding-bottom: 6rem;
}

.footer2 {
  // background-color: $gray-100;
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  a {
    color: $smokey-black;
    &:hover {
      color: $lollipop-blue;
    }
  }

  .social-media-link-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        // justify center
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        // flex direction row
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        // align items center
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        // flex wrap
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    // background-color: coral;
    padding: 1rem;

    .social-media-icon {
      margin-left: 1rem;

      &:first-of-type {
        // color: $lollipop-blue;
        margin-left: 0;
      }

      i {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        // justify center
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        // align-items center
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        text-align: center;

        font-size: 150%;
        border: solid 1px $smokey-black;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
      }
    }
  }

  .footer-column-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 100%;


    .footer-column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      // background-color: $lollipop-blue;
      height: 15rem;

      h2 {
        font-weight: 600;
      }

      &:nth-of-type(1) {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        margin-right: 6rem;

        // background-color: $lollipop-blue;
        h2 {
          margin-bottom: 1rem;
        }

        a {
          margin-bottom: 0.5rem;
          margin-left: 0.2rem;
        }
      }

      &:nth-of-type(2) {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        margin-right: 6rem;

        // background-color: $lollipop-blue;
        h2 {
          margin-bottom: 1rem;
        }

        a {
          margin-bottom: 0.5rem;
          margin-left: 0.2rem;
        }
      }
    }
  }
}





// We Stand With Your Side Section
.we-stand-with-you-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
//    background-color: $gray-100;
  width: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
//    border: solid 1px $gray-100;

  .we-stand-icon-wrapper {
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;
    // flex-wrap: wrap;
    // border: solid 3px $smokey-black;
    height: 9rem;
    width: 9rem;
    // border-radius: 50%;

    .we-stand-icon {
      // border: solid 3px $smokey-black;
      // border-radius: 50%;
      // height: 6rem;
      // width: 6rem;
      // font-size: 370%;
    }
  }

  .we-stand-text-part {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      margin-left: 1em;
//                background-color: coral;

      h1 {
        // font-size: 52px;
        font-size: 3.2rem;
      }

      p {
          font-size: 110%;
          font-weight: 300;
//            color: gray;
width: 90%;
      }
  }
}




// Testimonials Section
.testimonial-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gray-100;

  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 85%;

    h2 {
      margin-bottom: 1rem;
    }
  }
}



.pulse-coral {
  -webkit-animation: pulse-coral 2s linear infinite;
  animation: pulse-coral 2s linear infinite;
}
@keyframes pulse-coral {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 127, 80, 0.7);
    box-shadow: 0 0 0 0 rgba(255, 127, 80, 0.7);
  }

  40% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 127, 80, 0);
    box-shadow: 0 0 0 20px rgba(255, 127, 80, 0);
  }

  80% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 127, 80, 0);
    box-shadow: 0 0 0 20px rgba(255, 127, 80, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 127, 80, 0);
    box-shadow: 0 0 0 0 rgba(255, 127, 80, 0);
  }
}


// Pulse Button
.pulse-button-test {
  background-color: $lollipop-blue;
  color: #fff;
  width: 15rem;
  height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 30px;
  margin: auto;
  margin-top: 3rem;
  -webkit-animation: animate 2s linear infinite;
  animation: animate 2s linear infinite;

}

.pulse {
  -webkit-animation: pulse-lollipop-blue 2s linear infinite;
  animation: pulse-lollipop-blue 2s linear infinite;
}
@keyframes pulse-lollipop-blue {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(50, 189, 182, 0.7);
    box-shadow: 0 0 0 0 rgba(50, 189, 182, 0.7);
  }

  40% {
    -webkit-box-shadow: 0 0 0 20px rgba(50, 189, 182, 0);
    box-shadow: 0 0 0 20px rgba(50, 189, 182, 0);
  }

  80% {
    -webkit-box-shadow: 0 0 0 20px rgba(50, 189, 182, 0);
    box-shadow: 0 0 0 20px rgba(50, 189, 182, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(50, 189, 182, 0);
    box-shadow: 0 0 0 0 rgba(50, 189, 182, 0);
  }

  // 0% {
  //   box-shadow: 0 0 0 0 rgba(225,109,74,0.7), 0 0 0 0 rgba (255, 109, 74, 0.7);
  // }

  // 40% {
  //   box-shadow: 0 0 0 50px rgba(225,109,74,0), 0 0 0 0 rgba (255, 109, 74, 0.7);
  // }

  // 80% {
  //   box-shadow: 0 0 0 50px rgba(225,109,74,0), 0 0 0 30px rgba (255, 109, 74, 0);
  // }

  // 100% {
  //   box-shadow: 0 0 0 0 rgba(225,109,74,0), 0 0 0 30px rgba (255, 109, 74, 0);
  // }
}



.portfolio-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  background-color: $gray-100;
  text-align: center;
  margin-top: 3rem;
  // padding-top: 3rem;

  img {
    &:first-of-type {
      margin-bottom: 2rem;
      width: 100%;
    }

    width: 100%;
  }

  .portfolio-items-wrapper {
    // background-color: $lollipop-blue;

    padding-left: 4rem;
    padding-right: 4rem;
  }

  div {
    margin-bottom: 2rem;
    // background-color: $lollipop-blue;

    &:last-of-type {
      // margin-bottom: 0;
      // background-color: coral;
    }
  }
}


// Portfolio Setion
.portfolio-sample-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  // background-color: $mint-green;

  .our-work-icon-wrapper {
    width: 9rem;
    height: 9rem;
  }

  .portfolio-sample-section-button {
    background-color: $smokey-black;
    border-radius: 30px;
    height: 2.5em;
    width: 10em;
    font-size: 1em;
    border: none;
    margin-top: 6rem;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .portfolio-sample-section-button:hover {
    // opacity: 0.9;
    background-color: $gray-200;
    text-decoration: none;
  }

  .portfolio-gif-section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    background-color: $gray-100;
    // margin-bottom: 3rem;
    // padding-bottom: 6rem;

    .portfolio-sample-section {
      display: flex;
      justify-content: center;
      flex-direction: row;
      // align-items: center;
      flex-wrap: wrap;
    /*    margin-bottom: 10em;*/

    width: 80%;

    .portfolio-sample-item {
      /*    background-color: lightgray;*/
        width: 400px;
        // height: 400px;
        margin-left: 1em;
        margin-top: 3em;
        cursor: pointer;
        display: flex;
        justify-content: center;

        .portfolio-item-child {
          background-color: $lollipop-blue;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .our-work-title {
    // margin-bottom: -2em;
    position: relative;
    z-index: 1;
    text-align: center;
  }
}


// Sticky Discovery
.discovery-sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  background-color: $lollipop-blue;
  width: 100%;
  color: #fff;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  margin-top: 4rem;
  background-image: url('../images/geometric shapes on sticky discovery left side2.png'), url('../images/geometric shapes on sticky discovery right side3.png');
  background-repeat: no-repeat;
  background-position: 10% 75%, right;
  // background-size: 19rem;
  background-size:  20rem;


  p {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  span {
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 2.5rem;

// justify-content:
  }

  .discovery-sticky-button {
    border: solid 1px coral;
    border-radius: 30px;
    color: #fff;
    background-color: coral;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 1rem;
  }

  .discovery-sticky-button:hover {
    opacity: 0.9;
  }
}

.make-sticky {
  position: fixed;
  position: -webkit-sticky;
  bottom: 0;
}

.make-sticky-large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.make-sticky-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}



// Discovery Session Modal Form
.discovery-section-modal-form {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
//  align-items: center;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;

 .discovery-session-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

   background-color: coral;
   color: #fff;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 4rem;
   padding-right: 4rem;
   margin-top: 1.5rem;
   margin-bottom: 0.5rem;
   border-radius: 30px;
   cursor: pointer;
   text-align: center;

   .maintenance-form-button-maintenance {
    //  color: $lollipop-blue;
   }
 }

 .discovery-align-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-row-align: center;
  align-self: center;
   text-align: center;
 }

 .discovery-session-button:hover {
   opacity: 0.9;
 }

 .discovery-real-button {
   visibility: hidden;
 }

 .discovery-modal-close {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
 }

 .discovery-input-label-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
   margin-top: 1.5rem;
 }

 .discovery-error {
  background-color: $smoothie-red;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 4em;
  padding-left: 4em;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}

.maintenance-error {
  background-color: $smoothie-red;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 4em;
  padding-left: 4em;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}
}

.discovery-hide-error {
  display: none;
}



// Discovery Session Section
.discovery-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  width: 100%;
//    background-color: $lollipop-blue;

    .discovery-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

        // background-color: #e9ecef;
        background-color: $gray-100;
        padding-top: 5em;
        padding-bottom: 6em;
        margin-top: 10em;
        width: 80%;
        border-radius: 30px;
        text-align: center;

        .free-30min-session {
            margin-top: -0.5em;
            margin-bottom: 2em;
        }

        .discovery-error {
          background-color: $smoothie-red;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          padding-right: 4em;
          padding-left: 4em;
          color: #fff;
          margin-top: 2rem;
        }

        .discovery-hide-error {
          display: none;
        }

        .discovery-real-button {
          position: relative;
          right: 100em;
          visibility: hidden;
        }

        .discovery-session-button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
          -ms-grid-row-align: center;
          align-self: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;

            width: 25em;
            height: 3em;
            border-radius: 30px;
            font-size: 1.2em;
            font-weight: 700;
            cursor: pointer;
            color: #fff;
            border: none;
            background-color: coral;
            margin-top: 2em;
            margin-bottom: 0.2em;
        }

        .discovery-session-button:hover {
            opacity: 0.9;
        }

        .discovery-input {
            width: 42.4em;
            height: 3em;
            padding-left: 1em;
            margin-top: 1em;
            margin-left: 1em;
            border-radius: 3px;
            border: solid 1px #adb5bd;
        }

        .discovery-input-name {
            width: 20em;
            height: 3em;
            padding-left: 1em;
            margin-top: 1em;
            border-radius: 3px;
            border: solid 1px #adb5bd;
        }

        .discovery-input-name:first-child {
            margin-right: 1em;
        }

        .discovery-textarea-input {
            width: 42.4em;
            height: 10em;
            padding-left: 1em;
            margin-top: 1em;
            border-radius: 3px;
            border: solid 1px #adb5bd;
        }

        .discovery-input-label {
            align-self: flex-start;
            color: #3D3D3D;
        }

        .flex {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            /*    background-color: pink;*/


            .discovery-input-label-section {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 1em;

                &:first-child {
                    margin-right: 1em;
                }
            }
        }


        .discovery-input-section2 {
//            background-color: pink;
            width: 41em;
            //            width: 36.4em;

            .discovery-textarea-input {
                width: 100%;
                height: 10em;
                padding-left: 1em;
                margin-top: 1em;
                border-radius: 3px;
                border: solid 1px #adb5bd;
                //                background-color: coral;
            }

            .discovery-input-label-section {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 1em;
                width: 100%;

                &:first-child {
                    margin-right: 1em;
                }

                .discovery-input {
                    width: 100%;
                    height: 3em;
                    padding-left: 1em;
                    margin-top: 1em;
                    margin-left: 0;
                    border-radius: 3px;
                    border: solid 1px #adb5bd;
//                    background-color: coral;
                }
            }
        }
    }
}



// free consultation section
.free-consultation-section {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  // background-color: $mint-green;

  .free-consultation-button {
    border: solid 1px $lollipop-blue;
    background-color: $lollipop-blue;
    color: #fff;
    border-radius: 30px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 2em;
    padding-right: 2em;

    // background-image: url('../images/grain.png');
  }
  .free-consultation-button:hover {
    border: solid 1px $lollipop-blue;
    background-color: #fff;
    color: $smokey-black;
    text-decoration: none;
  }

}



// intro jumbotron
.jumbotron {
  background-color: $gray-100;
  /*    padding-top: 3em;*/
  // padding-bottom: 5em;
  margin-top: 1em;
  // border-top: 1px solid $gray-500;


  .jumbotron-items-div {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      align-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      .jumbotron-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
          /*    background-color: coral;*/
          /*    height: 18em;*/
          width: 23em;
          margin-left: 1em;
          /*    margin-top: 1em;*/
          padding-top: 2em;
          text-align: center;

          p {
//                color: coral;
              margin-top: 1em;
          }

          .jumbotron-item-button {
              color: #fff;
              background-color: $lollipop-blue;
              border: none;
              font-size: 1em;
              height: 2.5em;
              width: 10em;
              border-radius: 30px;
              cursor: pointer;
              margin-top: 1em;
          }

          a {
            color: #fff;
              background-color: $lollipop-blue;
              border: none;
              display: flex;
              align-self: center;
              align-items: center;
              justify-content: center;
              text-align: center;
              // font-size: 1em;
              height: 2.5em;
              width: 10rem;
              // padding-top: 0.5rem;
              // padding-bottom: 0.5rem;
              border-radius: 30px;
              cursor: pointer;
              margin-top: 2em;
          }

          a:hover {
            text-decoration: none;
            opacity: 0.8;
          }

          .jumbotron-item-button:hover {
              opacity: 0.8;
              text-decoration: none;
          }

          .jumbotron-item-img {
              width: 150px;
              height: 150px;
          }
      }
  }
}



// navbar
.navbar-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  img {
    margin-top: 1rem;
  }

  .navbar {
    // background-color: $mint-green;
    // border-bottom: 1px solid $gray-500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    a {
      color: $dark-gray;
      margin-left: 4.5rem;
      font-weight: 500;
      font-family: Westcraft, sans-serif, Arial, "Helvetica Neue", Helvetica;
      font-size: 120%;

      &:first-of-type {
        // color: $smoothie-red;
        margin-left: 0;
      }

      &:hover {
        opacity: 0.9;
        text-decoration: none;
      }
    }
  }
}




// About Page
.about-us-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: lollipop-blue;
  margin-top: 2rem;

  .about-heading {
    font-size: 250%;
    margin-bottom: 4rem;
  }

  .about-us-body {
    width: 70%;
  }

  .about-intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gray-100;
    text-align: center;

    p {
      width: 90%;
      margin-bottom: 1.5rem;
    }
  }

  .our-values-main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .our-values-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      // background-color: coral;

      &:first-of-type {
        // background-color: coral;
        // background-color: #fff;
        margin-bottom: 1rem;
      }

      .our-values-group-item {
        width: 20rem;
        // background-color: coral;
        text-align: center;
        align-self: flex-start;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-bottom: 1rem;

        img {
          width: 8rem;
          height: 8rem;
        }

        h3 {
          margin-top: 0.8rem;
          margin-bottom: 0.8rem;
          font-weight: 600;
        }
      }
    }
  }
}




// Contact Us Page
.contact-us-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;

  .contact-us-intro-text {
    width: 70%;
    text-align: center;
  }

  .contact-us-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: $gray-100;
    // width: 70%;
    width: 100%;
    border-radius: 3px;
    // padding-top: 4rem;
    // padding-bottom: 4rem;
    // padding-left: 2rem;
    // padding-right: 2rem;
    margin-top: 2rem;

    .contact-form-error {
      background-color: $smoothie-red;
      color: #fff;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 4em;
      padding-right: 4em;
      margin-bottom: 1rem;
    }

    .contact-hide-error {
      display: none;
    }

    .contact-us-mail-icon-wrapper {
      // display: flex;
      // justify-content: center;
      // flex-direction: column;
      // align-items: center;
      // flex-wrap: wrap;
      margin-top: 4rem;

      // border: solid 2px $smokey-black;
      width: 8rem;
      height: 8rem;
      // border-radius: 50%;
    }

    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      // background-color: $smoothie-red;
      width: 35rem;
      margin-top: 3rem;
      margin-bottom: 1rem;

      input {
        height: 2.5em;
        width: 100%;
        margin-bottom: 1em;
      }

      textarea {
        width: 100%;
        margin-bottom: 2em;
        // height: 10rem;
        resize: vertical;
      }


      .contact-us-button {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
        background-color: $lollipop-blue;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-size: 110%;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }
      .contact-us-real-button {
        position: relative;
        right: 100em;
        visibility: hidden;
      }
    }
  }
}




// Services Page
.services-intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $gray-100;
  width: 100%;

  .our-services-heading {
    font-size: 250%;
    text-align: center;
  }

  .services-intro-body {
    text-align: center;
    width: 70%;
  }

  .our-process-main-body {
    display: flex;
    flex-direction: column;

    .our-process-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      // background-color: coral;

      &:first-of-type {
        // background-color: coral;
        // background-color: #fff;
        margin-bottom: 1rem;
      }

      .our-process-group-item {
        width: 20rem;
        // background-color: coral;
        text-align: center;
        align-self: flex-start;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        margin-bottom: 1rem;

        p {
          padding-left: 1rem;
          padding-right: 1rem;
        }

        img {
          width: 8rem;
          height: 8rem;
        }

        h3 {
          margin-bottom: 0.8rem;
          margin-top: 0.8rem;
          font-weight: 600;
        }
      }
    }
  }
}

.services-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  // margin-top: 3rem;
  margin-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;

  .our-services-heading {
    font-size: 250%;
  }



  .services-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 9rem;
    text-align: center;

    .web-dev-title {
      // color: $mint-green;
      // border: solid 1px coral;
      margin-bottom: -1.5rem;
    }

    p {
      width: 70%;
      text-align: center;
    }

    &:first-of-type {
      margin-top: 3rem;
    }

    &:last-child {
      // color: $smoothie-red;
      margin-bottom: 0;
    }
  }
}





.heading-large {
  font-size: 3.2rem;
}





// Maintenance Packages Page
.maintenance-package-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // justify content center
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  // flex direction column
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  //align items center
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // flex wrap
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-bottom: 12rem;

  p {
    text-align: start;
  }

  // background-color: $lollipop-blue;

  img {
    margin-top: 2rem;
  }

  // accordion
  .further-maintenance-details {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // justify content
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // justify-content: center;
  // flex direction column
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  //align items center
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // flex wrap
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  // text-align: center;

  // background-color: coral;

  ul {
    width: 40rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;


    li {
      border-bottom: 1px solid $gray-200;
      padding-bottom: 1rem;
      width: 100%;

      a {
        font-weight: 600;
      }
    }
  }
  }

  .maintenance-services-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // justify content space around
  -ms-flex-pack: distribute;
  justify-content: space-around;
  // flex direction row
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  //align items center
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // flex wrap
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

    background-color: $gray-100;
    width: 100%;
    margin-top: 2rem;

    img {
      margin: 0;

      &:first-of-type {
        margin-bottom: 4rem;
      }

      &:nth-of-type(2) {
        margin-top: 4rem;
      }
    }

    // .standard-maintenance-package {
    //   border: solid 1px $lollipop-blue;
    //   padding-top: 3rem;
    //   padding-bottom: 2rem;
    //   background-color: $lollipop-blue;
    //   border-radius: 4px;
    // }

    .maintenance-package-standard-wrapper {
      display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // justify content center
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  // flex direction column
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  //align items center
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // flex wrap
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

      border: 1px solid $gray-500;
      border-top: none;
      border-radius: 4px;
      // padding-left: 1rem;
      // padding-right: 1rem;
      // padding-top: 1rem;
      // padding-bottom: 3rem;
      width: 19rem;
      text-align: center;
      background-color: #fff;
      margin-bottom: 1rem;

      h2 {
        margin-bottom: 2rem;
        color: $lollipop-blue;
      }

      h1 {
        color: $lollipop-blue;
      }

      p {
        margin-bottom: 1rem;
      }

      button {
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: $lollipop-blue;
          color:#fff;
        width: 90%;
        border-radius: 30px;

        &:hover {
          background-color: $lollipop-blue-hover;
        }
      }

    }

      .standard-maintenance-package {
        background-color: $lollipop-blue;
        color: #fff;
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
      }

      .standard-package-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        // justify content center
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        // flex direction column
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        //align items center
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        // flex wrap
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

            // border: 1px solid $gray-500;
            // border-radius: 4px;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 3rem;
            width: 100%;
            text-align: center;
            background-color: #fff;
            margin-bottom: 1rem;

            h2 {
              margin-bottom: 2rem;
              color: $lollipop-blue;
            }

            h1 {
              color: $lollipop-blue;
            }

            p {
              margin-bottom: 1rem;
            }

            button {
              margin-top: 1rem;
              padding-top: 1rem;
              padding-bottom: 1rem;
              padding-left: 2rem;
              padding-right: 2rem;
              background-color: $lollipop-blue;
                color:#fff;
              width: 90%;
              border-radius: 30px;

              &:hover {
                background-color: $lollipop-blue-hover;
              }
            }
      }

    .maintenance-package {
      display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // justify content center
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  // flex direction column
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  //align items center
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // flex wrap
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

      border: 1px solid $gray-500;
      border-radius: 4px;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 3rem;
      width: 19rem;
      text-align: center;
      background-color: #fff;
      margin-bottom: 1rem;

      h2 {
        margin-bottom: 2rem;
        color: $lollipop-blue;
      }

      h1 {
        color: $lollipop-blue;
      }

      p {
        margin-bottom: 1rem;
        text-align: center;
      }

      button {
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: $lollipop-blue;
          color:#fff;
        width: 90%;
        border-radius: 30px;

        &:hover {
          background-color: $lollipop-blue-hover;
        }
      }

    }
  }
}



// Privacy Page
.privacy-page-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  text-align: center;

  .privacy-page-intro-text {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .privacy-page-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    text-align: start;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 90%;

    code {
      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;
    }

    h3 {
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
  }
}


.slide-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: $smokey-black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.hide-overlay {
  display: none;
}


// off-canvas menu
.slide-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  // background-color: $lollipop-blue;
  background-color: #fff;
  width: 20rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;

  -webkit-transition: left 0.5s linear;
  -o-transition: left 0.5s linear;
  transition: left 0.5s linear;

  .close-menu2 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 120%;
    cursor: pointer;
  }

  .slide-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    // background-color: $berry-purple;
    margin-top: 4rem;
    width: 80%;


    a {
      // background-color: coral;
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $gray-200;
      width: 100%;
      font-size: 120%;
      text-align: center;
      color: #666666;
      font-family: Westcraft, sans-serif, Arial, "Helvetica Neue", Helvetica;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        // color: $gray-500;
        color: #666666;
        opacity: 0.8;
      }
    }
  }
}

.close-menu {
  left: -20rem;
}


.hamburger-menu-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $smokey-black;
    font-size: 150%;
    cursor: pointer;
    display: none;
}





// Portfolio Section
.portfolio-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-bottom: 4rem;

  h1 {
    // background-color: $lollipop-blue;
    text-align: center;
  }

  img {
    &:first-of-type {
      margin-top: 3rem;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      -ms-grid-row-align: center;
      align-self: center;
    }
  }
}







// Start of breakpoints
@media all and (max-width: 3000px) and (min-width: 1500px) {
  .portfolio-sample-section-wrapper {
    // background-color: $gray-100;
    .portfolio-gif-section-wrapper {
      // background-color: $lollipop-blue;
      background-color: #fff;
      .portfolio-sample-section {
      width: 60%;
      }
    }
  }
}



@media all and (max-width: 900px) and (min-width: 870px) {
  .contact-us-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    .contact-us-body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      // background-color: $mint-green;
      width: 70%;

    //   form {
    //     width: 90%;
    // }
  }
}


}

@media all and (max-width: 1060px) and (min-width: 950px) {
  .discovery-section-wrapper  {
    .discovery-section {
      width: 90%;
      // background-color: coral;
    }
  }
}

@media all and (max-width: 950px) and (min-width: 750px) {
    .discovery-section-wrapper  {
      .discovery-section {
        width: 95%;
        padding-top: 0;
        // background-color: coral;
      }
    }


    .contact-us-section {
      .contact-us-body {
        width: 100%;
        // background-color: $smoothie-red;
    }
  }


}

@media all and (max-width: 800px) and (min-width: 550px) {
  .portfolio-main-section {
    .portfolio-items-wrapper {
      margin-bottom: 5rem;
      // background-color: $lollipop-blue;
    }
  }

// Maintenance Packages Page
.maintenance-package-section {
  .further-maintenance-details {
  ul {
    width: 30rem;

    li {
      // border-bottom: 1px solid $gray-200;
      // padding-bottom: 1rem;
      // width: 100%;

    }
  }
  }
}
}

@media all and (max-width: 750px) and (min-width: 400px) {
  .services-section {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

    .services-intro-body {
      width: 100%;
    }

    .services-item {
      p {
        width: 100%;
      }
    }
  }

  .discovery-section-wrapper {
    .discovery-section {
      width: 90%;
      // background-color: $mint-green;

      .flex {
        flex-direction: column;
        /*        background-color: green;*/
        width: 70%;

        .discovery-input-label-section:first-child {
          margin-right: 0;
      }
    }

    .discovery-input-section2 {
        /*        background-color: green;*/
        width: 70%;
    }

    .discovery-input-label-section:first-child {
        margin-right: 0;
    }

    .discovery-input-label-section {
        width: 100%;
    }

    .discovery-input-name {
        width: 100%;
    }

    .discovery-input-label {
        align-self: flex-start;
        color: #3D3D3D;
    }

    .discovery-input {
        width: 100%;
        margin-left: 0;
    }

    .discovery-textarea-input {
        width: 100%;
    }

    .discovery-session-button {
        width: 90%;
    }
  }
  }

  .testimonial-section {
    .testimonial {
      width: 90%;
    }
  }

  .contact-us-section {
    .contact-us-body {
      // background-color: coral;

      form {
        width: 90%;
    }
  }

  // Maintenance Packages Page
  .maintenance-package-section {
    .further-maintenance-details {
    ul {
      width: 20rem;

      li {
        // border-bottom: 1px solid $gray-200;
        // padding-bottom: 1rem;
        // width: 100%;
      }
    }
    }
  }
}

.discovery-sticky {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  // background-color: $smoothie-red;
  background-image: none;
  background-image: url('../images/geometric shapes on sticky discovery right side3.png');
  background-repeat: no-repeat;
  background-position: right;
  // background-size: 19rem;
  background-size:  29rem;

  .discovery-sticky-button {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;

    width: 20rem;
    margin-top: 1rem;
  }
}
}

@media all and (max-width: 340px) and (min-width: 300px) {
.maintenance-package-section  {
  .maintenance-services-body {
    .maintenance-package-standard-wrapper {
      width: 90%;
    }
    .maintenance-package {
      width: 90%;
    }
  }
}

.maintenance-package-section {
  .further-maintenance-details {
    width: 100%;
  }
}
}

@media all and (max-width: 425px) and (min-width: 300px) {
  .discovery-section-wrapper {
    .discovery-section {
      width: 90%;
      // background-color: $mint-green;

      p {
        width: 90%;
      }

      .flex {
        flex-direction: column;
        /*        background-color: green;*/
        width: 70%;

        .discovery-input-label-section:first-child {
          margin-right: 0;
      }
    }

    .discovery-input-section2 {
        /*        background-color: green;*/
        width: 70%;
    }

    .discovery-input-label-section:first-child {
        margin-right: 0;
    }

    .discovery-input-label-section {
        width: 100%;
    }

    .discovery-input-name {
        width: 100%;
    }

    .discovery-input-label {
        align-self: flex-start;
        color: #3D3D3D;
    }

    .discovery-input {
        width: 100%;
        margin-left: 0;
    }

    .discovery-textarea-input {
        width: 100%;
    }

    .discovery-session-button {
        width: 90%;
    }
  }
  }

  .discovery-section-modal-form {
    .discovery-session-button {
      p {
        // width: 100%;
        width: 7rem;
        // background-color: $lollipop-blue;
      }
      .maintenance-form-button-maintenance {
        // color: $lollipop-blue;
        display: none;
        width: 100%;
      }

      .discovery-form-button-discovery {
        display: none;
        width: 100%;
      }
    }
  }

//   .mantenance-package-section {
//   .maintenance-services-body {
//     .maintenance-package {
//       width: 90%;
//       background-color: coral;
//     }
//   }
// }



  .discovery-sticky {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    // background-color: $smoothie-red;
    background-image: none;
    background-image: url('../images/geometric shapes on sticky discovery right side3.png');
    background-repeat: no-repeat;
    background-position: right;
    // background-size: 19rem;
    background-size:  40rem;

    .discovery-sticky-button {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

      width: 90%;
      margin-top: 1rem;
    }
  }
}

@media all and (max-width: 600px) and (min-width: 300px) {
  .portfolio-main-section {
    .portfolio-items-wrapper {
      margin-bottom: 5rem;
      // background-color: $lollipop-blue;
    }
  }

  .portfolio-sample-section-wrapper {
    .portfolio-gif-section-wrapper {
      .portfolio-sample-section {
      width: 100%;
      }
    }
  }

    .hamburger-menu-button {
      display: block;
    }

  .navbar-section {
    .navbar {
      display: none;
    }
  }

  .services-section {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

    .services-intro-body {
      width: 100%;
    }

    .services-item {
      p {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 550px) and (min-width: 300px) {
  .about-us-section {
    .about-heading {
      text-align: center;
    }

    .our-values-main-body {
      .our-values-group {
        .our-values-group-item {
          width: 90%;
        }
      }
    }
  }


  .contact-us-section {
    .contact-us-body {
      // background-color: coral;

      form {
        width: 90%;
    }
  }
}

    .discovery-section {
        width: 90%;
        /*        background-color: orange;*/
    }

    // Maintenance Packages Page
    .maintenance-package-section {
      .further-maintenance-details {
      ul {
        width: 20rem;

        li {
          // border-bottom: 1px solid $gray-200;
          // padding-bottom: 1rem;
          // width: 100%;
        }
      }
      }
    }

    .discovery-section-modal-form {
      .discovery-session-button {
        // p {
        //   // width: 100%;
        //   width: 7rem;
        //   background-color: $lollipop-blue;
        // }
        // width: 90%;

        .discovery-modal-button-text {
          // background-color: $lollipop-blue;
          width: 9rem;

          .discovery-form-button-discovery {
            display: none;
            width: 100%;
          }
        }
      }
    }

    .footer {
      .footer-column-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .footer-column {
          // background-color: $lollipop-blue;
          &:nth-of-type(1) {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            margin-right: 0;
          }

          &:nth-of-type(2) {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            margin-right: 0;
            height: 12rem;
          }

          &:nth-of-type(3) {
            height: 12rem;
          }
        }
      }
    }

    .footer2 {
      .footer-column-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .footer-column {
          // background-color: $lollipop-blue;
          &:nth-of-type(1) {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            margin-right: 0;
          }

          &:nth-of-type(2) {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            margin-right: 0;
            height: 12rem;
          }

          &:nth-of-type(3) {
            height: 12rem;
          }
        }
      }
    }
}

